@font-face {
	font-family: Fontin;
	src: url('font/Fontin_Sans_R_45b.otf');
	font-weight: normal;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
		-webkit-transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
		-webkit-transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
		-webkit-transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
		-webkit-transform: translate3d(4px, 0, 0);
	}
}
@-moz-keyframes shake {
  10%, 90% { -moz-transform: translate3d(-1px, 0, 0); }
  20%, 80% { -moz-transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { -moz-transform: translate3d(-4px, 0, 0); }
  40%, 60% { -moz-transform: translate3d(4px, 0, 0); }
}
@-webkit-keyframes shake {
  10%, 90% { -webkit-transform: translate3d(-1px, 0, 0); }
  20%, 80% { -webkit-transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { -webkit-transform: translate3d(-4px, 0, 0); }
  40%, 60% { -webkit-transform: translate3d(4px, 0, 0); }
}

@keyframes spin {
	100% {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
}
@-moz-keyframes spin {
	100% { -moz-transform: rotate(90deg); }
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(90deg); }
}

* {
    font-family: Fontin;
	color: #B0AFAA;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
	border: none;
}

html {
	touch-action: manipulation;
	-ms-touch-action: manipulation;
}

body {
	overflow: hidden;
    background-color: #F6F5F0;
	opacity: 0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	height: 100%;
	position: fixed;
}

::selection {
  background-color: #C0BFBA;
  color: #ECEBE6;
}
::-moz-selection {
	background-color: #C0BFBA;
    color: #ECEBE6;
}

#body {
	width: 100%;
	height: 100%;
	margin: 0;
}
